@import 'https://fonts.googleapis.com/css?family=Inconsolata';

/* first error message */
.output1 {
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  border: 2px solid red;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
}

/* second error message */
.output2 {
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  border: 2px solid red;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
}