/* everything in the header with user info */
.mainHeader {
  height: 400px;
  position: relative;
  background-color: #09ff00;
  /* background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png"); */
  background-image: url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* applies to the name and avatar in the header */
header div{
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  position: relative;
}

/* styling for the name */
.name {
  top: 1.5em;
  color: #f4f1ec;
  font-size: 40px;
}

/* styling for the avatar */
.avatar-man {
  height: 9em;
  width: 9em;
}