.mainHeader {
  height: 400px;
  width: auto; /*100% width of parent container*/
  position: relative;
  margin-top: 120px;
  background-color: #09ff00;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
}

header div{
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  position: relative;
}

.name {
  top: 30px;
  color: #f4f1ec;
}