.mainNav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 120px;
  z-index: 1000;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

.mainNav span {
  font-family: 'Bungee', cursive;
  font-size: 55px;
  position: relative;
  bottom: 8px;
}

#formToggleButton {
  top: 0;
  right: 0;
  /* float: right; */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  border: 0;
  font-size: 30px;
  cursor: pointer;
  outline: 0;
}

#arrow {
  /* float: right; */
  height: 30px;
  width: 30px;
  cursor: pointer;
  /* margin-top: 9px; */
  margin-left: 45%;
}

.formToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
}

/* bounce animation for arrow button */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
#arrow:hover {
  animation: bounce 1s;
  animation-iteration-count: 10;
}